* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
}

h1 {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.container {
  width: 65%;
  margin: auto;
  padding: 0.5rem;
}

.game-wrapper {
  display: flex;
  border: 4px solid purple;
}

.question-wrapper {
  margin-bottom: 0;
  padding: 0.2rem;
  text-align: center;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nextBtn {

  margin: auto;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.2rem;
  background: purple;
  color: white;
}

.question {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5rem;
  font-weight: bold;
}

ol {
  list-style-type: lower-alpha;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

li {
  font-family: 'Shadows Into Light', cursive;
  border: 1px solid purple;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
}

li:hover {
  cursor: pointer;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.correct {
  background: green;
}

.incorrect {
  background: red;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}