.App{
    max-width: 80%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#question-container {
    border: 2px solid darkslategray;
    display: flex;
    
 }

 #question-container #question-img {
    
    flex-basis: 100%;
 }

 #question-container #question-text-button{
    flex-basis: 100%;
    text-align: center;
    align-self: center;
    padding: 1rem;

 }

 #intro-text {
     font-size: 1.8rem;
     letter-spacing: .05rem;
 }

 #button-start {
     font-size: 1.5rem;
     min-width: 80%;
     padding: 12px;
     border-radius: 5px;
    cursor: pointer;
 }
 

